/* smooth scrolling pagewide */
html {
    scroll-behavior: smooth;
}



/* intro */
.paintCanvas {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    background-color: white;
    transition: 4.0s cubic-bezier(.36,-0.01,0,.77);
}
.paintCanvas.fade {
    background-color: rgba(1, 1, 1, 0);
    pointer-events: none;
}
.splat {
    opacity: 1;
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    transition: 1.3s cubic-bezier(.36,-0.01,0,.77);
}

.splat.unload {
    opacity: 0;
    pointer-events: none;
  }

/* remove default settings*/
* {
    margin: 0;
    padding: 0;
}

/* set content to viewport height */
body {
    overflow-x: hidden;
    min-height: 100vh;
    /* bg */
    background-color: cornsilk;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* font */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* responsive navbar */

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

/* navigation bar list */
nav ul { 
    z-index: inherit;
    width: 100%;
    list-style: none; /* no bullet points */
    display: flex;
    justify-content: flex-end; /* right side */


}

/* defines heigiht of parents */
nav li {
    height: 7vh;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none; /* no underline */
    display: flex;
    align-items: center;
    color: black;

    transition: 0.5s; /* smooth highlight */
}

nav a:hover {
    background-color: grey;
}
/* only for header */
.header li:first-child  {
    margin-right: auto;
}
.header {
    position: fixed;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);
}



/* sidebar and animation */


/* open state */
.sidebar {
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed; /* independent */
    top: 0; 
    height: 100vh;
    width: 20vw;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    right: -20vw; /* transition open/close */
    transition: 1.0s cubic-bezier(.36,-0.01,0,.77);
}

/*closed state*/
.sidebar.open {
    display: flex;
    right: 0vw;
    transition: 1.0s cubic-bezier(.17,.67,.37,.9);
}


@media(max-width: 800px) {

}
/* rescale */
.sidebar li {
    width: 100%;
}


/* animation for rotating icon */


#menu_icon {
    animation: none;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}



/* section title styles */
.section-title {
    background-color: tan;
    display: flex;
    padding: 10px;
    z-index: 0;
    margin-top: 25vh; /* necessary for centering on pages, see .section-content 'height' */
    
    width: fit-content;

    border-style: solid solid none solid;
    border-width: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    

}
/* text */
.section-title-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1vw;
    font-size: 30px;
}

.section-content {
    background-color: tan;
    border-style: solid;

    border-radius: 10px;
    border-width: 5px;  
    padding-bottom: 5vh;

    height: 50vh;
    width: 70vw;
    
}

.section-content-text {
    margin: 5vh;
    max-width:50%;
    max-height: 100%;
    background-color: white;

    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
}

.section-content-text p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;

}




/* main page */
#intro-section {
    min-height: 100vh;
    min-width: 100vw;
    z-index: 0;

    justify-content: center;
    display: flex;
    flex-direction: column;

    background-color: white;

}

#intro-section-title-text {
    position:fixed;
    align-self: center;
    
    z-index: 0;
    text-align: center;
    font-size: 200px;
}



/* these are the particles */
.parallax-wrap span{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: red;
}

/* section title + content sibling  */

.section-page {
    min-height: 100vh;
    margin: auto; /* necessary for centering on pages, see .section-content 'height' */   
}

.content-body {
    min-width: 100vw;
    align-content: center;
    justify-content: center;
    
    display: flex;
    flex-direction: column;

    background-color: cornsilk;
    z-index: 1
}

#projects-page {
    background-color: pink;
    height: 105vh;
    min-width: 100vw;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: inherit;
}

/* slider */

.project-slider-wrapper {
    position: relative;
    scale: 0.9;
}

.project-slider {
    display: flex;
    flex-direction: row;
    aspect-ratio: 16/9;

    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    width: 100vw;
}

.project-slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


.project-slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;

    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
}

.project-slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-style: solid;
    border-radius: 5px;
    color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}


/* footer */

.bottom {
    min-width: 100vw;
    min-height: 10vh;
    background-color: black;
}

.links {
    color: white;
    align-content: center;
    flex-direction: column;
}

.links table tr td{
    padding-right: 10vw;
}



