/* smooth scrolling pagewide */
html {
    scroll-behavior: smooth;
}


/* remove default settings*/
* {
    margin: 0;
    padding: 0;
}

/* set content to viewport height */
body {
    min-height: 100vh;
    /* bg */
    background-image: url(Images/Background/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* font */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* responsive navbar */

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/* navigation bar list */
nav ul {
    width: 100%;
    list-style: none; /* no bullet points */
    display: flex;
    justify-content: flex-end; /* right side */
}

/* defines heigiht of parents */
nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none; /* no underline */
    display: flex;
    align-items: center;
    color: black;

    transition: 0.5s; /* smooth highlight */
}

nav a:hover {
    background-color: grey;
}
/* only for header */
.header li:first-child  {
    margin-right: auto;
}

.sidebar {
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
