/* smooth scrolling pagewide */
html {
    scroll-behavior: smooth;
}


/* intro */
.paintCanvas {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    background-color: white;
    transition: 4.0s cubic-bezier(.36,-0.01,0,.77);
}
.paintCanvas.fade {
    background-color: rgba(1, 1, 1, 0);
    pointer-events: none;
}
.splat {
    opacity: 1;
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    transition: 1.3s cubic-bezier(.36,-0.01,0,.77);
}

.splat.unload {
    opacity: 0;
    pointer-events: none;
  }

/* remove default settings*/
* {
    margin: 0;
    padding: 0;
}

/* set content to viewport height */
body {
    min-height: 100vh;
    /* bg */
    background-image: url(Images/Background/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* font */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* responsive navbar */

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/* navigation bar list */
nav ul {
    width: 100%;
    list-style: none; /* no bullet points */
    display: flex;
    justify-content: flex-end; /* right side */
}

/* defines heigiht of parents */
nav li {
    height: 7vh;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none; /* no underline */
    display: flex;
    align-items: center;
    color: black;

    transition: 0.5s; /* smooth highlight */
}

nav a:hover {
    background-color: grey;
}
/* only for header */
.header li:first-child  {
    margin-right: auto;

}



/* sidebar and animation */


/* open state */
.sidebar {
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed; /* independent */
    top: 0; 
    height: 100vh;
    width: 20vw;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    right: -20vw; /* transition open/close */
    transition: 1.0s cubic-bezier(.36,-0.01,0,.77);
}

/*closed state*/
.sidebar.open {
    display: flex;
    right: 0vw;
    transition: 1.0s cubic-bezier(.17,.67,.37,.9);
}


@media(max-width: 800px) {
    .limit-screen {
        display: none;
    }
}
/* rescale */
.sidebar li {
    width: 100%;
}


/* animation for rotating icon */


#menu_icon {
    animation: none;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}



/* section title styles */
.section-title {
    background-color: #d59ee5;
    display: inline-block;

    padding: 10px;
    margin-left: 2vw;

    border-style: solid solid none solid;
    border-width: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.section-title-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-content {
    background-color: #d59ee5;
    border-top-style: solid;
    border-width: 5px;  
    padding-bottom: 5vh;
}

.section-content-text {
    margin: 5vh;
    width: 25%;
    background-color: burlywood;

    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
}

.section-content-text p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
